<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pln.www">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikon"
        android:label="DocTrack"
        android:roundIcon="@mipmap/ikon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".activity.LoginActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->

        <activity
            android:name=".activity.DocumentTrackingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.MateriActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.BerandaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity android:name=".activity.DetailProsesActivity" />

        <activity
            android:name=".activity.RessetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>